body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Poppins, Arial, sans-serif;
  color: #fff;
}

.box {
  width: 350px;
  margin: 120px auto;
  padding: 25px;
  background: rgba(0,0,0,0.6);
  border-radius: 12px;
  text-align: center;
}

/* LOGO STYLE */
.logo {
  width: 90px;
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  opacity: 0.8;
}

label {
  display: block;
  margin-top: 15px;
  text-align: left;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.price {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #27ae60;
}
